body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }

  #overlay p{
    vertical-align: center;
    text-align:center;
    font-size: 100px;
    color: yellowgreen;
  }

#intro-header{
    display: none;
    border-bottom: 5px solid #6EFF70;
    padding-top: 20px;
    padding-bottom: 0;
}

#dateTime-div{
    display: none;
}

#schedule-div{
    margin-top:1%;
    display: none;
}

#schedule-div .input-group{
    margin-bottom: 3px;
}

#schedule-div .input-group-text{
    width: 90px;
}

#schedule-div h3{
    color: white;
    text-align: center;
}

#pinkStickyNote{
    background-color: pink;
}

.redBckgrnd{
    background-color: #F08080;	
}

.greenBckgrnd{
    background-color: #7FFF00;	
}

.grayBckgrnd{
    background-color: #D3D3D3;	
}