body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#intro-header{
    display: none;
    border-bottom: 5px solid #6EFF70;
    padding-top: 20px;
    padding-bottom: 0;
}

#dateTime-div{
    display: none;
}

#schedule-div{
    margin-top:1%;
    display: none;
}

#schedule-div .input-group{
    margin-bottom: 3px;
}

#schedule-div .input-group-text{
    width: 90px;
}

#schedule-div h3{
    color: white;
    text-align: center;
}

#pinkStickyNote{
    background-color: pink;
}